<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCSbNPxckiloaX-a4QKL323oDUp_LhiV5A</string>
	<key>GCM_SENDER_ID</key>
	<string>364148159176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dartsWithFriends</string>
	<key>PROJECT_ID</key>
	<string>darts-with-friends</string>
	<key>STORAGE_BUCKET</key>
	<string>darts-with-friends.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364148159176:ios:11e92f3dbb75d459466bfd</string>
</dict>
</plist>